---
import dayjs from 'dayjs';
import ScrambleText from './animation/ScrambleText.astro';
import CounterAnimation from './animation/CounterAnimation.astro';
import PhotoCard from './PhotoCard.astro';

let date = new Date();
const day = dayjs(date).format('ddd,');
const month = dayjs(date).format('MMM');
const num = dayjs(date).format('DD,');
const year = dayjs(date).format('YYYY');
const hours = dayjs(date).format('HH:mm');
const am = dayjs(date).format('A');
---

<>
  <div class="h-screen flex flex-col justify-between">
    <div class="flex gap-4 py-4 justify-end font-custom text-orange text-lg">
      <a href="/overview" class="cursor-pointer relative after:bg-light-orange after:absolute after:h-[2px] after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300"><ScrambleText text="Overview" delay={0} /></a>
      <a href="/theme" class="cursor-pointer relative after:bg-light-orange after:absolute after:h-[2px] after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300"><ScrambleText text="Theme" delay={0} /></a>
    </div>
    <div class="flex flex-col gap-2 items-center">
      <div class="flex flex-col text-orange font-titleita special">
        <div class="flex gap-8">
          <ScrambleText text="Clément" delay={0} className="text-9xl" />
          <ScrambleText text="Nicolas" delay={0} className="text-9xl" />
        </div>
        <ScrambleText text="Photographies" delay={0} className="text-7xl" />
      </div>
    </div>
    <div class="flex justify-between items-end text-custom py-4 text-orange">
      <div class="flex gap-1">
        <ScrambleText text=`${day}` delay={0} className="text-lg" />
        <ScrambleText text=`${month}` delay={0} className="text-lg" />
        <ScrambleText text=`${num}` delay={0} className="text-lg" />
        <ScrambleText text=`${year}` delay={0} className="text-lg" />
        <ScrambleText text=`${hours}` delay={0} className="text-lg" />
        <ScrambleText text=`${am}` delay={0} className="text-lg" />
      </div>
      <CounterAnimation
        counter={0}
        maxCounter={100}
        seconds={2.7}
        className="font-title text-7xl"
      />
    </div>
  </div>
  <section class="pt-24 flex flex-col gap-14 items-center">
    <PhotoCard category="Lost in South" />
    <PhotoCard category="Cold" />
    <PhotoCard category="Strange Cities" />
    <PhotoCard category="Hike" />
  </section>
  <!-- <section class="my-20 flex justify-center">
    <div class="h-20 w-20 rounded-full bg-orange flex items-center justify-center">
      <p class="uppercase text-2xl text-creme text-center font-titleita">C. N</p>
    </div>
  </section> -->
</>
